.bg-zer-blue {
  background-color: #185a95;
}

.bg-zer-off-white {
  background-color: #f8f8f8;
}

.bg-zer-light-blue {
  background-color: #5b9bd4;
}

.bg-zer-gray {
  background-color: #d2deee;
}

.logo-zer {
  background: url('../img/zeriscope_icon.png') no-repeat center center;
  height: 30px;
  width: 30px;
}

.header-row {
  background-color: #d2deee;
  line-height: 2rem;
}
.header-row:nth-child(odd) {
  background-color: #eaeef7;
}

.header-row:hover {
  background-color: #5b9bd4;
}

.no-focus:focus {
  outline: none;
}

.button-shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.button-shadow:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


.white-line {
  height: 2px;
  background-color: white;
}

.line-spacer {
  height: 30px;
}

.focus-bottom-border {
    border: none;
    border-bottom: 2px solid #c3c3c3;
}

.focus-bottom-border:focus {
    border-bottom: 2px solid #80a312;
}

.dark-gray {
    color: #4d4d4d;
}

.dropdown {
    border: solid 2px #c3c3c3;
}

.quad-list-item {
  background-color: white;
  transition: .5s ease all;
  border: solid 2px #c3c3c3;
}

.quad-list-item:hover {
  background-color: #f7f7f7;
}

.quad-cal {
  height: 350px;
  overflow: hidden;
}

.quad-delete {
  position: absolute;
  top: 10px;
  right: 10px;
  color: black;
}

.quad-drop {
  border: 2px dashed #c3c3c3;
  height: 200px;
}

.quad-drop:hover {
  background-color: #f7f7f7;
}

.z-neg {
  z-index: -1;
}

.bg-zer-green {
  background-color: #80a312;
}

a {
  text-align: center;
}

.toggle-box {
  width: 20px;
  height: 20px;
}


/* Loading Spinner by @tobiasahlin */
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #FFF;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
