* {
  font-family: 'Source Sans Pro', sans-serif;
  transition: all ease .5s;
}

.playfair {
  font-family: 'Playfair Display', serif;
}

.title-w {
  width: 125px;
  line-height: 20px;
}

.cig-trans {
  transition: all ease .5s;
}

.mobile-menu {
  width: 300px;
}

.solid {
  opacity: 1;
  transition: all ease 1s;
  transform: translateY(0);
}

.clear {
  opacity: 0;
  transform: translateY(10px);
}

.menu-svg {
  margin-right: 1rem;
  line-height: 80px;
}

.loading-message {
  margin-top: -42px;
}

.animated-loader {
  stroke-dasharray: 2;
  stroke-dashoffset: 20;
  animation: dash linear 2s infinite alternate;
}


.animated-loader-ash {
  stroke-dasharray: 4;
  stroke-dashoffset: 20;
  animation: dash linear 3s infinite alternate;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.label-menu {
  -webkit-animation: fadeit 1s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadeit 1s; /* Firefox < 16 */
      -ms-animation: fadeit 1s; /* Internet Explorer */
       -o-animation: fadeit 1s; /* Opera < 12.1 */
          animation: fadeit 1s;
          margin-top: 80px;
}

@keyframes fadeit {
  from { opacity: 0; margin-top: 50px; }
  to {
    opacity: 1;
    margin-top: 80px;
  }
}
.map-pack-container {
  width: 36px;
}

.expand-enter {
  -webkit-animation: expandit 1s ease; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: expandit 1s ease; /* Firefox < 16 */
      -ms-animation: expandit 1s ease; /* Internet Explorer */
       -o-animation: expandit 1s ease; /* Opera < 12.1 */
          animation: expandit 1s ease;
}

@keyframes expandit {
  from { width: 50%;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

.map{
  width: 100%;
  height: 400px;
}

.footer-link:hover {
  color: black;
}

.image-size {
  max-height: 400px;
}
.pack-hover {
  position: relative;
}

.pack-hover:hover .map-icon-container {
  opacity: 1;
}
.map-icon-container {
  opacity: 0;
  position: absolute;
  top: 0; left: 0;
}

.header-bar {
  height: 80px;
}

.desktop-header {
  padding-top: 10px;
}

.logo-header {
  padding-top: 5px;
}
